* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #0B2434;
  font-family: 'Karla', sans-serif;
}

main {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 20px 20px;
  background: #0B2434;
  height: 90vh;
  background: #F5F5F5;
  border-radius: 10px;
  padding: .5% 3% 3% 3%;
  align-items: center;
}

.header{
  width: 100%;
  display: flex;
  margin-bottom: 2.5%;
  align-items: center;
}

.reset{
  display: flex;
  margin: top 1px;
  width: 100px;
  height: 30px;
  font-weight: 700;
  font-size: .8rem;

  background: blueviolet;
  color : white;
  border: none;
  border-radius: 10px;

  justify-content: center;
  align-items: center;
  
  cursor: pointer;
}

.personal-best{
  display: flex;
  margin-left: auto;
}

.game-title{
  font-weight: 700;
  align-items: center;
  text-align: center;
  letter-spacing: -0.03em;
  color: #2B283A;
  height: 20px;
  width: 197px;

}

.game-text{
  text-align: center;
}

.die-container{
  display:grid;
  margin-top: 2%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 10px;
  column-gap: 10px;
}

.die {
  display: flex;
  width: 50px;
  height: 50px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 3.8px;
  font-size: 2rem;
  font-weight: 700;
  line-height: 24px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.roll{
  display: flex;
  margin-top: 5%;
  width: 120px;
  height: 50px;
  font-weight: 700;
  font-size: 1.2rem;

  background: #5035FF;
  color : white;
  border: none;
  border-radius: 10px;

  justify-content: center;
  align-items: center;
  
  cursor: pointer;
}

.timer{
  display: flex;
  margin-top: 3%;
  width: 120px;
  height: 50px;
  font-weight: 700;
  font-size: 1.2rem;
  justify-content: center;
  align-items: center;
}

.roll:focus{
  outline: none;
}

.roll:active{
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}